body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Open Sans';
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.menu{
  padding: 0 70px;
  overflow: auto;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.flex-container{
	display: flex;
}

.menu.flex-container{
	justify-content: flex-start;
}

.logo-container{
	margin-left: auto;
	margin-right: 20px;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}

/* Home */

#home{
	height: 600px;

	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	color:whitesmoke;
}

.text-home{
	font-size: 2.4em;
}

.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

#services{
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px;
}

#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}

/* Footer */
footer{
	text-align: center;
	height: 70px;
	background-color: #373b47;
	color: white;
	padding-top: 7px;
	}

/* Work */
#work{
	text-align: center;
  	color: #373b47;
  	padding: 70px 10px;
}

.img-central{
	width: 75%;
    height: 816px;
}
#work.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}


/* galeria */
#galeria-1, #galeria-2, #galeria-3 {
	text-align: center;
	color: #373B47;
	padding: 55px;
}

#galeria-1.flex-container, #galeria-2.flex-container, #galeria-3.flex-container{
	justify-content: space-between;
	align-items: flex-start;
}

.text-work{
  font-size: 15px;
  letter-spacing: 2px;
}

.img-galeria{
	width: 85%;
}
